pkgbase = spooky-doot
	pkgdesc = Un squelette trompettiste qui surgit au hasard sur ton ecran, du 1er septembre au 31 octobre
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/boubou666/doot
	arch = any
	license = MIT
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = tk
	optdepends = pipewire-audio: lecture du son via pw-play
	optdepends = libpulse: lecture du son via paplay
	optdepends = alsa-utils: lecture du son via aplay
	optdepends = mpv: lecture des sons compresses et son spatialise
	optdepends = ffmpeg: idem, via ffplay
	optdepends = xorg-xrandr: second recours pour la detection des ecrans multiples
	conflicts = doot
	source = spooky-doot-1.7.1.tar.gz::https://github.com/boubou666/doot/archive/refs/tags/v1.7.1.tar.gz
	sha256sums = 2b47369c9a6794d32cb0ea3d889a03f39feb35039495912470b98665640c5f39

pkgname = spooky-doot
