pkgbase = spooky-doot
	pkgdesc = Un squelette trompettiste qui surgit au hasard sur ton ecran, du 1er septembre au 31 octobre
	pkgver = 1.7.2
	pkgrel = 1
	url = https://github.com/boubou666/doot
	arch = any
	license = MIT
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = tk
	optdepends = pipewire-audio: lecture du son via pw-play
	optdepends = libpulse: lecture du son via paplay
	optdepends = alsa-utils: lecture du son via aplay
	optdepends = mpv: lecture des sons compresses et son spatialise
	optdepends = ffmpeg: idem, via ffplay
	optdepends = xorg-xrandr: second recours pour la detection des ecrans multiples
	conflicts = doot
	source = spooky-doot-1.7.2.tar.gz::https://github.com/boubou666/doot/archive/refs/tags/v1.7.2.tar.gz
	sha256sums = 34d596a9bc5a19b25fe9d799d1f58a2fc888e97ecaa48a984bee78a21eba4067

pkgname = spooky-doot
